<div class="card rounded shadow-sm p-3">
  <form [formGroup]="form">
    <div class="row mb-3">
      <div class="form-group col-md-12">
        <label>Tema</label>
        <input
          type="text"
          class="form-control"
          [ngClass]="cssValidator(f.tema)"
          formControlName="tema"
          placeholder="Insira o Tema"
        />
        <div *ngIf="f.tema?.errors?.required" class="invalid-feedback">
          Tema é obrigatório
        </div>
        <div *ngIf="f.tema?.errors?.minlength" class="invalid-feedback">
          Tema deve ter no mínimo 4 caracteres.
        </div>
        <div *ngIf="f.tema?.errors?.maxlength" class="invalid-feedback">
          Tema deve ter no máximo 50 caracteres.
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="form-group col-md-8">
        <label>Local</label>
        <input
          type="text"
          class="form-control is-invalid"
          [ngClass]="cssValidator(f.local)"
          formControlName="local"
          placeholder=""
        />
        <div *ngIf="f.local?.errors?.required" class="invalid-feedback">
          Local é obrigatório
        </div>
      </div>
      <div class="form-group col-md-4">
        <label>Data e Hora</label>
        <input
          type="datetime"
          value="{{ evento.dataEvento | DateFormatPipe }}"
          bsDatepicker
          [bsConfig]="bsConfig"
          class="form-control"
          formControlName="dataEvento"
          placeholder=""
          [ngClass]="cssValidator(f.dataEvento)"
        />
        <div *ngIf="f.dataEvento.errors?.required" class="invalid-feedback">
          Data e Hora é obrigatório
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="form-group col-md-2">
        <label>Quantidade de Pessoas</label>
        <input
          type="number"
          class="form-control is-invalid"
          [ngClass]="cssValidator(f.qtdPessoas)"
          formControlName="qtdPessoas"
          placeholder=""
        />
        <div *ngIf="f.qtdPessoas?.errors?.required" class="invalid-feedback">
          Quantidade de Pessoas é obrigatório.
        </div>
        <div *ngIf="f.qtdPessoas?.errors?.max" class="invalid-feedback">
          Deve ser menor que 120000
        </div>
      </div>

      <div class="form-group col-md-3">
        <label>Telefone</label>
        <input
          type="text"
          class="form-control is-invalid"
          [ngClass]="cssValidator(f.telefone)"
          formControlName="telefone"
          placeholder="(000) 90000-0000"
        />
        <div *ngIf="f.telefone?.errors?.required && f.telefone?.touched" class="invalid-feedback">
          Telefone é obrigatório
        </div>
      </div>

      <div class="form-group col-md-3">
        <label>Email</label>
        <input
          type="text"
          class="form-control is-invalid"
          [ngClass]="cssValidator(f.email)"
          formControlName="email"
          placeholder="e-mail"
        />
        <div *ngIf="f.email?.errors?.required && f.email?.touched" class="invalid-feedback">
          E-mail é obrigatório.
        </div>
        <div *ngIf="f.email?.errors?.email && f.email?.touched" class="invalid-feedback">
          Deve ser um endereço de e-mail válido.
        </div>
      </div>

      <div class="form-group col-md-4">
        <label>Imagem</label>
        <input
          type="text"
          class="form-control is-invalid"
          [ngClass]="cssValidator(f.imageUrl)"
          formControlName="imageUrl"
          placeholder="imagem"
        />
        <div *ngIf="f.imageUrl?.errors?.required && f.imageUrl?.touched" class="invalid-feedback">
          Imagem é obrigatório
        </div>
      </div>
    </div>

    <div class="d-flex justify-content-between">
      <button type="button" class="btn btn-secondary" (click)="resetForm()">
        Cancelar Alteração
      </button>

      <button
        type="submit"
        class="btn btn-success"
        [disabled]="!form.valid"
        (click)="salvarAlteracao()"
      >
        Salvar Evento
      </button>
    </div>
  </form>
</div>
